*{
    background-color: darkkhaki;
    color: brown;
    border-radius: 21px;
    box-shadow: cadetblue 1px 1px 11px;
}
body{
    text-align: center;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}